.footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding: 50px ;
    margin-top: 100px;
}

.footer h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 27px;
}

.footer p{
    font-size: 0.95rem;
    font-weight: bold;
    line-height: 24px;
    color: #D9DBE1;
    margin-bottom: 20px;
}