@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    margin: 30px;
  }

  .menu-content {
    flex-wrap: wrap;
  }

  .banner {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
