/* sponsor section styles */
.sponsor .sponsor-content {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 35px 61px;
  gap: 63px;
  border-top: 3px solid rgba(192, 204, 218, 0.1);
  border-bottom: 3px solid rgba(192, 204, 218, 0.1);
  align-items: center;
}

/* popular collection */
.popular-section {
  max-width: 1040px;
  margin: 0 auto;
}

.popular-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-container .card {
  border: none;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  width: 329px;
  gap: 30px;
  margin: 30px;
}

.card-container img {
  width: 300px;
  height: 256px;
}

.card-title {
  font-size: 1.85rem;
  font-weight: 500;
  margin-top: 16px;
}

.card-price {
  font-size: 1.5rem;
  margin-top: 16px;
}

.rating {
  gap: 3px;
  margin-top: 16px;
  align-items: center;
}

.rating-star {
  color: #fb8200;
}

.rating-number {
  color: #787885;
  font-size: 0.95rem;
  font-weight: 700;
}

.card-details {
  color: #787885;
  font-size: 0.95rem;
  font-weight: 700;
  margin-top: 8px;
}

/* feature section */
.feature-container{
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  gap: 96px;
}

.feature-title{
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
  color: #0A0826;
  margin-bottom: 16px;
}

.feature-description{
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: #6C6C6C;
  margin-bottom: 16px;
}