*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display-flex */
.display-flex{
    display: flex;
}

.color{
    color: #3A3A3A;
}

.btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
    color: white;
}

.btn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
}